django (pip install django)
rest_framework(pip install djangorestframework)
allauth(pip install django-allauth)
auth_token(pip install django-rest-authtoken)
pillow (pip install pillow)
pytz(pip install pytz)
sites(include 'django.contrib.sites' into installed app in settings.py file)
default_authentication_classes
(REST_FRAMEWORK = {
    'DEFAULT_AUTHENTICATION_CLASSES': [
        'rest_framework.authentication.BasicAuthentication',
        'rest_framework.authentication.TokenAuthentication',
    ]
})
include this code in settings.py file
